body {margin: 0;}

#nav-img {
  margin-left: 30%;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white ;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display:inline-flex;
  color: #FF9900;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
 color: #111;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

.img1{
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 500px;
}
.img2{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 280px;
}
#intro{
  text-align: center;
}

/*Section 3 Styles*/

  .section3 {
      padding: 50px;
  }

  .photos {
      padding: 20px;
      margin-left: 25px;
      text-align: left;
  }

  .drinksInfoRow {
      padding-top: 70px;
  }

  .photos>h3,
  .photos>h4,
  .drinksInfo>h3,
  .drinksInfo>h4 {
      font-weight: bold;
  }

  .gallery,
  .drinksInfoPhotos {
      padding: 20px;
      border: 2px solid rgba(211, 211, 211, 0.44);
      box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
  }

  .gallery>img,
  .drinksInfoPhotos>img {
      margin: auto;
      text-align: center;
  }

  .drinksInfoPhoto2 {
      float: right;
  }
  button {
        margin-top: 20px;
        padding: 10px;
        background-color: white;
        color: #f15a29;
        border: 1px solid #f15a29;
    }
  h1, h2 {
    text-align: center;
  }
  #show-price {
    text-align: center;
    display: none;
  }
